In [4]:
#sets are used to store unique value
#

# Sets

In [2]:
myset1 = {} # Empty set cannot be created by curly braces
type(myset1)

dict

In [3]:
myset = set() # create an empty set
type(myset)

set

In [5]:
myset = {1,2,4,5,3,2,6} # set of numbers
myset

{1, 2, 3, 4, 5, 6}

In [7]:
len(myset)

6

In [9]:
my_set = {1,1,2,2,3,4,5,5}
my_set #Duplicate elements are not allowed

{1, 2, 3, 4, 5}

In [11]:
my_set1 = {1.79,2.04,3.99,4.58,5.45}
my_set1

{1.79, 2.04, 3.99, 4.58, 5.45}

# Add & Remove Items

In [12]:
myset = { 2,3,4,5,6,7,8}

In [13]:
myset.add(9)
myset

{2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
myset.add(50)
myset

{2, 3, 4, 5, 6, 7, 8, 9, 50}

In [15]:
myset[1] #indexing is not suported in sets

TypeError: 'set' object is not subscriptable

In [16]:
myset.update(['Ten','Eleven','Twelve'])
myset

{2, 3, 4, 5, 50, 6, 7, 8, 9, 'Eleven', 'Ten', 'Twelve'}

In [17]:
myset.update([10])
myset

{10, 2, 3, 4, 5, 50, 6, 7, 8, 9, 'Eleven', 'Ten', 'Twelve'}

In [18]:
d = {3,'e',6,}
d

{3, 6, 'e'}

In [21]:
myset.remove('Ten')
myset

{10, 2, 3, 4, 5, 50, 6, 7, 8, 9, 'Eleven', 'Twelve'}

In [22]:
myset.update([False])

In [23]:
myset

{10, 2, 3, 4, 5, 50, 6, 7, 8, 9, 'Eleven', False, 'Twelve'}

In [24]:
myset.discard('9') #remove items from a set using discard
myset

{10, 2, 3, 4, 5, 50, 6, 7, 8, 9, 'Eleven', False, 'Twelve'}

In [25]:
myset.clear() # Delete all items in a set
myset

set()

In [26]:
del myset # delete the set object
myset

NameError: name 'myset' is not defined

# set operation

In [27]:
A = { 1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [28]:
A.union(B) #union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
A.union(B, C) #union of A ,B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [32]:
A.intersection(B) #intersection of A and B

{4, 5}

In [33]:
A.difference(B) #Difference of set. set of elements

{1, 2, 3}

In [34]:
B.difference(A)

{6, 7, 8}

In [45]:
A.union(B).difference(A.intersection(B))y

{1, 2, 3, 6, 7, 8}

# string